body{
    font-family: cursive;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.input_box{
    display:flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    align-items:center;
    background-color: rgba(245, 245, 220, 0.7);
    padding: 10px;
    max-width: 600px;
}

.input_city{
    width:60%;
}

.btnWeather{
    background-color: greenyellow;
    border-radius: 3px;
    width:40%;
}

.weather_box, .forecast_box{
    width: 60%;
    background-color: rgba(245, 245, 220, 0.7);
    padding:10px;
    max-width: 600px;
}

.weather_boxy, .forecast_boxy{
    margin-bottom: 5px;
    border: blue solid 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:10px;
    gap:10px;
    flex-wrap: wrap;
}

.weather_details, .forecast_details{
    justify-content: center;
}

h2,h3 {
    text-align: center;
}

strong, h2{
    text-decoration: underline;
}