body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(stars.jpg);
  }
  
  .buttons {
    margin: 10px;
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    background: #0078d4;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background: magenta;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 95vw;
    height: 80vh;
  }
  
  .box {
    border: 2px solid yellowgreen;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  .box:hover{
    border: 2px dashed magenta;
  }

  #map, #rasterMap {
    width: 100%;
    height: 100%;
  }
  
  .puzzleContainer, .dropTarget {
    display: grid;
    grid-template-columns: repeat(4, 1fr);   /* 4 kolumny równo */
    grid-template-rows: repeat(4, 1fr);      /* 4 równe wiersze */
    gap: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .puzzlePiece {
    width: 100%;
    height: 100%;
    cursor: grab;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
  }