body{
    background-color: beige;
    align-items: center;
}


.box{
    width:70%;
    border: 3px solid aquamarine;
    border-radius: 10px;
    margin: 0 auto;
}

.searchbar{
    width:100%;
    margin-bottom: 10px;
}

