* {
    box-sizing: border-box;
  }

body{
    font-family: cursive;
    background-color: beige;
    display:flex;
    align-items: center;
}

h1{
    text-align: center;
    font-family: fantasy;
    color:violet;
    text-shadow: 
    1px -1px black,
    -1px 1px white,
    1px 1px black,
    -1px -1px white;
}
.container{
    width:70%;
    border: 3px solid aquamarine;
    border-radius: 10px;
    margin: 0 auto;
}

.search, .add_bar, .task{
    display:flex;
    width:80%;
    justify-content: center;
    margin: 10px auto;
    gap:10px;
}

.task{
    justify-content: space-between;
}

.add_bar{
    flex-wrap: wrap;
}

.mark{
    background-color: yellow;
}

.delBtn{
    background-color: red;
    border-radius: 3px;
}

.saveBtn{
    background-color: greenyellow;
    border-radius: 3px;
}

